 /* AllLeads.css */
.table-container {
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow-x: auto;
    background-color: #f7f7f7;
    padding: 10px;
  }
  
  .table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    
  }
  
  .table thead {
    background-color: #343a40;
    color: white;
    text-align: left;
    padding: 20px;
  }
  
  .table thead th {
    padding: 10px;
    font-size: 16px;
    text-transform: uppercase;
    padding: 20px;
    background-color: #e9e8e8;
    
  }
  
  .table tbody tr {
    background-color: white;
    margin-bottom: 10px;
    padding: 20px;
  }
  
  .table tbody tr:hover {
    background-color: #e9ecef;
  }
  
  .table tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    vertical-align: top;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .table tbody tr:last-child td {
    border-bottom: none;
  }
  
  .table tbody td.label {
    font-weight: bold;
    color: #495057;
  }
  
  .table tbody td.value {
    color: #212529;
  }
  
  .responsive-header {
    font-weight: bold;
    color: #007bff;
    margin-bottom: 5px;
    display: block;
  }
  .WrapperAsign{
    display: flex;
    gap: 20px;
  }
  .WrapperAsign button{
    padding: 10px;
    border: none;
  }

  .wrapperLeadBtn{
    width: 100px;
    padding: 10px;
    border: none;
  margin-left: 10px;
  border-radius: 10px;
  margin-top: 10px;
  }
  select{
    height: 70px;
  }
  th , td{
    border: .0px solid black;

    text-align: left;
  }
  @media (max-width: 768px) {
    .table thead {
      display: none;
    }
    .table tbody tr {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 15px;
    }
    .table tbody td {
      display: block;
      width: 100%;
      border: none;
      padding: 5px 0;
    }
    .table tbody td.label {
      color: #6c757d;
      font-weight: bold;
    }
  }
  