.reportWrraperBtn{
  display: flex;
  flex-wrap: wrap; /* Allows wrapping to the next row */
  justify-content: space-between; /* Ensures spacing between buttons */
  gap: 20px; /* Adds spacing between rows and columns */
}

.reportWrraperBtn button{
    /* border: 1px solid black; */
    width: 300px;
    padding: 30px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
}


 
  
  h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  
  /* .reportWrraperBtn {
    display: flex;
    flex-direction: row;
    
  }
  */
  
  .reportWrraperBtn .btn:hover {
    background-color: #e9ecef; /* Slight hover effect */
    transform: translateY(-2px); /* Hover animation */
  }
  
  .reportWrraperBtn .btn:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  }
  